<div class="head_body">
  <p class="main_title">
    新闻中心
  </p>
  <div class="web_map">
    <%= link_to "首页", root_path %>
    <span class="map_go">>></span>
    <%= link_to "新闻中心", notices_path %>
    <span class="map_go">>></span>
    <% if params[:controller] == 'notices' and params[:action] == 'index' %>
      <%= link_to "通知公告", notices_path %>
        <% if admin_signed_in? %>
          (<span class="load"><%= link_to '发布通知', new_notice_path %></span>)
        <% end %>
    <% elsif params[:controller] == 'notices' and params[:action] == 'show' %>
      <%= link_to "通知公告", notices_path %>
      <span class="map_go">>></span>
      <%= @notice.title %>
        <% if admin_signed_in? %>
          (<span class="load"><%= link_to '修改', edit_notice_path %></span>)
        <% end %>
    <% end %>
  </div>
</div>
