<div class="head_body">
  <p class="main_title">
    新闻中心
  </p>
  <div class="web_map">
    <%= link_to "首页", root_path %>
    <span class="map_go">>></span>
    <%= link_to "新闻中心", articles_path %>
    <span class="map_go">>></span>
    <% if params[:controller] == 'articles' and params[:action] == 'index' %>
      <%= link_to "社联新闻", articles_path %>
        <% if admin_signed_in? %>
          (<span class="load"><%= link_to '发布社联新闻', new_article_path %></span>)
        <% end %>
    <% elsif params[:controller] == 'articles' and params[:action] == 'show' %>
      <%= link_to "社联新闻", articles_path %>
      <span class="map_go">>></span>
      <%= @article.title %>
        <% if admin_signed_in? %>
          (<span class="load"><%= link_to '修改', edit_article_path %></span>)
        <% end %>
    <% end %>
  </div>
</div>
